.button {
  background-color: transparent;
  border-color: #65e7d5;
  color: #65e7d5;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 1rem;
}

.badge {
  background-color: #65e7d5;
  border-radius: 40px;
  padding: 0.2rem 1.2rem;
  color: black;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}
