* {
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact__list button {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
}

.top {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.delete {
  width: auto;
  height: 40px;
  padding: 0;
  margin: 0;
}

.messages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 0;
}

.message-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  text-align: start;
  width: 100%;
}
.message-item p {
  margin: 0;
  padding: 0;
}

.message-item p:nth-child(1) {
  width: 100px;
  flex-shrink: 0;
}

.message-item p:nth-child(3) {
  width: 125px;
  flex-shrink: 0;
}

.message-item button {
  align-items: center;
  width: 100px;
  flex-shrink: 0;
}

.message-item p:nth-child(2) {
  flex-grow: 1;
  min-width: 300px;
  word-break: break-word;
}
